* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.body {
    width: 100vw;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
    width: 60%;
}

.carousel-img {
    width: 100%;
    scroll-snap-align: start;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-bottom: 3px solid black;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    z-index: 99;
}

.page-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    transition: 0.3s ease;
    color: black;
}

.nav-link {
    transition: 0.3s ease;
}

.nav-link:hover {
    color: rgb(131, 38, 177);
    text-decoration: none;
    scale: 1.1;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
    transition: 0.3s ease;
}


.link {
    transition: 0.3s ease;
}

.link:hover {
    color: rgb(131, 38, 177);
    text-decoration: none;
    scale: 1.2;
}

a {
    color: black;
    text-decoration: none;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        to right,
        rgb(131, 38, 177),
        rgb(0, 0, 0) 50%
    )
}

@media (max-width: 480px) {
    * {
        font-size: 12px;
    }
    
    .about {
        padding-top: 100px;
    }

}

.about-text {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
}

@media (max-width: 480px) {
    .about-text {
        margin-left: 0px;
    }
}

.chubby-sugar {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-bottom: 2px solid rgb(12, 188, 232);
}

.description {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100vh;
}

.Printing {
    display: flex;
    flex-direction: row;
    background-color: black;
    background: linear-gradient(
        to bottom,
        purple,
        black
    );
    border-top: 2px solid rgb(255, 0, 255);
    padding-top: 100px;
}

.printing-text {
    width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50vw;
    color: white;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    color: white;
    border-bottom: 2px solid rgb(23, 154, 180);
}

.container-image {
    margin: 30px;
    width: 40vw;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
}

.Engraving {
    background-color: black;
    display: flex;
    padding-top: 100px;
}

.d-printing {
    background-color: black;
    display: flex;
    padding-top: 100px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    height: 300px;
}

.email {
    font-size: 25px;
    margin: 50px;
    text-align: center;
    border-bottom: 2px solid purple;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 25px auto;
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.4s ease;
}

.btn:hover {
    border: 2px solid purple;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
}

.footer-link {
    margin: 10px;
    text-align: center;
    transition: 0.3s ease;
    color: white;
}

.footer-link:hover {
    color: rgb(131, 38, 177);
    text-decoration: none;
    scale: 1.2;
}

@media (max-width: 480px) {
    .about {
        background: black;
        display: block;
        background: linear-gradient(
        to bottom,
        rgb(28, 164, 255),
        rgb(0, 0, 0) 25%
    )
    }

    .Printing, .Engraving, .d-printing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }

    .Engraving {
        flex-direction: column-reverse;
    }

    .about-text {
        align-items: center;
        padding-top: 50px;
    }

    .chubby-sugar {
        color:rgb(186, 65, 247)
    }
    }

    .logo {
        height: 70vh;
    }

    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .carousel {
        width: 100%;
    }

    .container-image {
        margin: 10px;
    }

    .page-links {
        gap: 20px;
    }
