{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block body %}

            
          <!-- chubby sugar banner-->
          <div class="banner">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h1 class="fw-bold display-4 chubby-sugar">Chubby Sugar</h1>
                  <p>
                    text that describes the use of the website commit test
                  </p>
                  <div class="links">
                  <a href="/printing" class="btn btn-light learn-more " id="learn-more">learn more</a>
                  <br>
                  <i class="fa-brands fa-facebook fa-2xl"></i>
                  <i class="fa-brands fa-instagram fa-2xl"></i>
                  </div>
                  </div>
                  <div class="col-sm-6">
                    <img src="static\images\chubby-sugar.jpeg" class="img-fluid" />
                  </div>  
                </div>
            </div>
          </div>
{% endblock %}